@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Nunito', sans-serif;
}


.Rubik{
    font-family: 'Rubik', sans-serif;
    /* color: #2c2c2c; */
}

.Lora{
    font-family: 'Lora', serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

html {
  scroll-behavior: smooth;
}
.overallParent{
    scroll-behavior: smooth;
}
.colorCont span{
    aspect-ratio: 1/1;
    width: 20px;
    display: inline-block;
    border-radius: 20%;
    border: 1px solid rgb(40, 40, 40);
    transition: 0.1s;
    flex-shrink: 0;
    cursor: pointer;
}

button{
    transition: 0.1s;
}

aside button{
    width: 100%;
    /* margin-bottom: 10px; */
    border-radius: 30px;
    height: auto;
    padding: 5px 5px;
    background-color: #eeeeeee5;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    transition: 0.1s;
    padding: 5px 5px;
    font-size: 12px;
}

.button{
    animation: btnAnim 0.5s 1;
}
@keyframes btnAnim {
	0% {
		transform: scale(1);
	}
    50% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}


@media(max-width: 1023px){
    button:hover{
        transform: scale(1.1);
    }
}
@media(min-width: 1024px){
    aside button{
        font-size: 16px;
    }
}

*{
    -webkit-tap-highlight-color: transparent;
}

.zoom , .pointsParent, .colorHighLow{
    transition: 0.3s;
    transition-timing-function: ease-out;
    transform-origin: 50vw 50vh;
}

.slider{
    touch-action: none;
    -webkit-appearance: none;  
    appearance: none;
    border-radius: 10px;
    height: 5px;
    /* width: 90vw; */
    /* outline: white; */
    background: rgba(255, 255, 255, 0.5);
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;  /* Override default CSS styles */
    background: #ff74c5;
    height: 20px;
    /* box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.7); */
    width: 40px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    transform: scale(1.2);
    cursor: pointer;
    transition: 1s;
}

.colorHighLow{
    animation: highlow 4s infinite;
}
@keyframes highlow {
    0%{
        outline: 5px solid rgba(255, 255, 255, 0.1);
        background-color: #00000000;
    }
    25%{
        outline: 15px solid rgba(255, 255, 255, 1);
    }
    50%{
        outline: 5px solid rgba(255, 255, 255, 0.1);
        background-color: #00000083;
    }
    75%{
        outline: 15px solid rgba(255, 255, 255, 1);
    }
    100%{
        outline: 5px solid rgba(255, 255, 255, 0.1);
        background-color: #00000000;
    }
}

.characterDetails span{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.characterDetails span input{
    width: 48%;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
}

.characterDetails span input:focus{
    outline: none;
}

.characterDetails input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
}

.characterDetails input:focus{
    outline: none;
}

.viewOptions{
    aspect-ratio: 1/1;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border-radius: 10%; */
}

.textOverflowAnim{
    animation: slideView 4s linear infinite;
    padding-left: 20px;
}

@keyframes slideView {
    0%{
        padding-left: 20px;
        padding-right: 0px;
    }
    30%{
        padding-left: 20px;
        padding-right: 0px;
    }
    70%{
        padding-left: 0px;
        padding-right: 30px;
    }
    100%{
        padding-left: 0px;
        padding-right: 30px;
    }
}

